{% extends 'ocr_app/base.html' %}

{% block title %}Delete Chapter {% endblock %}

{% block content %}
    <h2>Delete "{{ chapter.name }}"</h2>
    <p>Are you sure you want to delete the chapter <b>{{ chapter.name }}</b> from <b>{{ chapter.book.title}}</b>?</p>
    <form class="bodyform" action="{% url 'delete_chapter' chapter.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Yes, delete {{ book.chapter }}</button>
        <a href="{% url 'write_book' chapter.book.id %}">
            <button type="button" class="btn">
                Cancel
            </button>
        </a>
    </form>
{% endblock %}