body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode header {
    background-color: #1e1e1e;
    border-bottom: 1px solid rgb(103, 103, 103);
}

button body.dark-mode a {
    color: #bb86fc;
}

body.dark-mode h1 {
    color: rgb(234, 234, 234);
}

body.dark-mode .btn {
    background-color: #bb86fc;
    color: #121212;
}

body.dark-mode .btn:hover {
    background-color: #3700b3;
    color: white;
}

body.dark-mode header nav .btn .fa-sun {
    display: none;
}

body.dark-mode header nav .btn .fa-moon {
    display: block;
}

header nav .btn i {
    display: none;
}

body.dark-mode .chapter .btn {
    color: #121212;
    padding: 5px;
    margin: 5px;
    background-color: #e83e3e;
}

.theme {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark-mode .book {
    background-color: #6f6f6f;
}

body.dark-mode .book .btn {
    padding: 10px 20px;
}

body.dark-mode .content .occurrence {
    color: black;
}

body.dark-mode .content h1 {
    color: rgb(222, 222, 222);
}

body.dark-mode .content p {
    color: white;
}

body.dark-mode .chapter>span {
    color: #c5c5c5;
}

body.dark-mode .chapter h3 {
    color: white;
}

body.dark-mode .book h3,
body.dark-mode .book p {
    color: rgb(237, 237, 237);
}

body.dark-mode div h2 {
    color: rgb(210, 210, 210);
}

body.dark-mode footer {
    background-color: #1e1e1e;
}

body.dark-mode .btn-logout-button {
    background-color: red;
}

body.dark-mode .btn-logout-button:hover {
    background-color: rgb(255, 75, 75);
}

body.dark-mode .btn-edit-profile {
    background-color: orange;
}

body.dark-mode .btn-edit-profile:hover {
    background-color: rgb(255, 187, 61);
}

body.dark-mode .btn-createnew {
    background-color: rgb(0, 255, 0);
}

body.dark-mode .btn-createnew:hover {
    background-color: green;
}

body.dark-mode .drop-down {
    background-color: gray;
}